body {
    font-family: Verdana, sans-serif;
}
#controls {
    display: flex;
    flex-direction: column;
    width: 500px;
}
#controls button {
    width: 200px;
    font-size: xx-large;
    margin: 16px auto;
}
.row {
    font-size: 0;
}
.box {
    height: 25px;
    width: 25px;
    border: 1px solid #000;
    display: inline-block;
    font-size: 1rem;
}
.snake {
    background: green;
}
.food {
    background: orange;
}
